<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Heraldo's News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Heraldo's News</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-articles [articles]="articles"></app-articles>

  <ion-infinite-scroll
      threshold="25%"
      position="bottom"
      (ionInfinite)="loadData()"
    >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más articulos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
